Package: com.amodrono.tweak.pasteandgo2
Name: PasteAndGo2
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Directly search a word or go to a link from the force touch menu.
Maintainer: amodrono
Author: amodrono
Section: Tweaks
